In [8]:
!pip install openpyxl
!pip install numpy
!pip install pandas
!pip install scikit-learn

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ---- -------------------------------- 30.7/250.0 kB 660.6 kB/s eta 0:00:01
     ---- -------------------------------- 30.7/250.0 kB 660.6 kB/s eta 0:00:01
     ------------ ------------------------ 81.9/250.0 kB 573.4 kB/s eta 0:00:01
     ---------------- ------------------- 112.6/250.0 kB 656.4 kB/s eta 0:00:01
     ----------------------- ------------ 163.8/250.0 kB 704.6 kB/s eta 0:00:01
     ------------------------------------ 250.0/250.0 kB 959.0 kB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
!pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.2.2-cp310-cp310-win_amd64.whl (8.3 MB)
Collecting joblib>=1.1.1
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Collecting scipy>=1.3.2
  Using cached scipy-1.10.1-cp310-cp310-win_amd64.whl (42.5 MB)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\bimas\onedrive\desktop\house_py\venv\lib\site-packages (from scikit-learn) (1.24.2)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.2.2 scipy-1.10.1 threadpoolctl-3.1.0

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [7]:
import os

In [8]:
os.getcwd()

'C:\\Users\\bimas\\OneDrive\\Desktop\\house_py'

In [9]:
train = pd.read_csv('train.csv')
train.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [16]:
X_train, X_test = train_test_split(train, test_size=0.30, random_state=42)

In [18]:
with pd.ExcelWriter('data.xlsx') as writer:
    X_test.to_excel(writer, index=False, sheet_name="X_test")
    X_train.to_excel(writer, index=False, sheet_name="X_train")